body{
      .container__botao {
            background-color: var(--botao-azul);
            border-radius: 5px;
            padding: 1em;
            color: var(--branco-principal);
            display: block;
            text-decoration: none;
            margin-bottom: 1em;
        }
        
     background-color image-rendering: color: ;: rgba(33, 102, 96, 0.918);
}
#banner{


}

h

p>coriosidade sobre a Respiração da Lua: (michikatsu tsugikuni) p


 text-align: center;
}
 em strong{
       color:rgb(11, 15, 240);
 }1{>

 text-align: center;

 <title>Respiração da neves 11 ideia de para o anime, veja as formas e as informaçoes sobre ela.</title>

<meta charset="utf-8">

<meta name="viewpont" content="width-derivace- width, initial-scale-1">

<link rel="stylesheet" href="style.css">
</head>

<body>
    